<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/LodgeLink.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <style>
        body {
            background-image: url("/images/bg_forgotpass.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-lg-5 text-white">
                <form method="POST" onsubmit="return savePassword()">
                    <div class="form-group text-center">
                        <label class="form-label">Enter New Password</label>
                        <input type="password" id="newPassword" name="newPassword" class="form-group" />
                    </div>
                    <div class="form-group text-center">
                        <label class="form-label">Confirm New Password</label>
                        <input type="password" id="confirmPassword" class="form-group" />
                        <h6 id="confirmPasswordError"></h6>
                    </div>
                    <div class="col-lg-1">
                        <input type="submit" class="btn btn-primary text-start" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function checkPassword() {
            var newPass = document.getElementById("newPassword").value;
            var confirmPass = document.getElementById("confirmPassword").value;

            console.log("New : " + typeof (newPass) + ", Confirm : " + typeof (confirmPass))

            var confirm = document.getElementById("confirmPasswordError");
            if (confirm === "") {
                confirm.innerHTML = "Confirm Password Required!!";
                console.log("Confirm Password Required!!");
                confirm.style.color = "red";
                return false;
            }
            else if (confirm !== newPass) {
                confirm.innerHTML = "Password Doesn't Match!!";
                console.log("Password Doesn't Match!!");
                confirm.style.color = "red";
                return false;
            }
            else if (confirm.) {
                confirm.innerHTML = "Password Matched!!";
                console.log("Password Matched!!");
                confirm.style.color = "green";
                return true;
            }
        }

        function savePassword() {
            console.log("Save Password Function")
            var confirm = document.getElementById("confirmPasswordError");
            if (checkPassword() === false) {
                confirm.innerHTML = "Confirm Password Required!!";
                confirm.style.color = "red";
                return false;
            }
            else if (checkPassword() === false) {
                confirm.innerHTML = "Confirm Password is Empty OR Doesn't Match!!";
                confirm.style.color = "red";
                return false;
            }
            else if (checkPassword() === true) {
                return true;
            }
        }

    </script>
    <script src="https://kit.fontawesome.com/e6a8e37cff.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>