@model LodgeLink.Models.Building

@{
    ViewData["Title"] = "Edit Building";
}


<hr />
<div class="card-body">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BuildingId" />
        <div class="row">
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BuildingName" class="control-label"></label>
                <input asp-for="BuildingName" class="form-control" />
                <span asp-validation-for="BuildingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalFloors" class="control-label"></label>
                <input asp-for="TotalFloors" class="form-control" />
                <span asp-validation-for="TotalFloors" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TotalUnits" class="control-label"></label>
                <input asp-for="TotalUnits" class="form-control" />
                <span asp-validation-for="TotalUnits" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BuildingType" class="control-label"></label>
                <input asp-for="BuildingType" class="form-control" />
                <span asp-validation-for="BuildingType" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="ConstructionDate" class="control-label"></label>
                <input asp-for="ConstructionDate" class="form-control" />
                <span asp-validation-for="ConstructionDate" class="text-danger"></span>
            </div>
           
                <input asp-for="CreatedAt" class="form-control" type="hidden"/>
               
                <input asp-for="UpdatedAt" class="form-control" type="hidden"/>
                
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
                <div class="form-group">

                    <input type="submit" value="Save" class="btn btn-block btn-primary" />
                </div>
            </div>
        </div>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
