@model LodgeLink.Models.Visitor

@{
    ViewData["Title"] = "Create Visitor";
    Layout = "~/Areas/Security_Personnel/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="card-body">

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Property Number</label>
                <select asp-for="PropertyId" class ="form-control" asp-items="ViewBag.PropertyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VisitorName" class="control-label"></label>
                <input asp-for="VisitorName" class="form-control" />
                <span asp-validation-for="VisitorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="ImageURL" class="control-label"></label>

                <input type="file" name="ImageURL" class="form-control" />           
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleDetails" class="control-label"></label>
                <input asp-for="VehicleDetails" class="form-control" />
                <span asp-validation-for="VehicleDetails" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
