@model LodgeLink.Models.Visitor

@{
    ViewData["Title"] = "Set CheckOut Time";
    Layout = "~/Areas/Security_Personnel/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VisitorId" />


            <input asp-for="PropertyId" class="form-control" type="hidden" />

            <input asp-for="VisitorName" class="form-control" type="hidden" />

            <input asp-for="ImageURL" class="form-control" type="hidden" />

            <input asp-for="VisitDate" class="form-control" type="hidden" />

            <input asp-for="Purpose" class="form-control" type="hidden" />

            <input asp-for="ContactNumber" class="form-control" type="hidden" />

            <input asp-for="VehicleDetails" class="form-control" type="hidden" />

            <input asp-for="ApprovedBy" class="form-control" type="hidden" />

            <input asp-for="CheckInTime" class="form-control" type="hidden" />
               
            <div class="form-group">
                <label asp-for="CheckOutTime" class="control-label"></label>
                <input asp-for="CheckOutTime" class="form-control" />
                <span asp-validation-for="CheckOutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
