@model LodgeLink.Models.Resident

@{
    Layout = "_LayoutWithoutHeader";
    // Layout = "~/Views/Shared/_LayoutWithoutHeader.cshtml"; // This removes the layout for this specific view
    ViewData["Title"] = "Register";
}
<h1>Resident Registration</h1>
<hr />
<div class="card-body">

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
           
          
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfMoveIn" class="control-label"></label>
                <input asp-for="DateOfMoveIn" class="form-control" />
                <span asp-validation-for="DateOfMoveIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactNumber" class="control-label"></label>
                <input asp-for="EmergencyContactNumber" class="form-control" />
                <span asp-validation-for="EmergencyContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label"></label>
                    <input type="file" name="ProfileImage" class="form-control" />
                </div>    
            
            
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
